{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="container">
        <h1>About us</h1>
        <p>Welcome to the Luton Town Marketplace! Your one-stop shop for all things Luton memorabilia related. All products listed on our site have been ensured for quality and authenticity, by our in-house experts. 
            Our mission is to provide a great service to the supporters of the best club in the world.
            Due to the nature of the products being second-hand, the ecological footprint is limited compared to buying new. This is because buying pre-loved goods reduces the demand for new products, thus reducing the potential carbon footprint, and saving products from reaching landfill. </p>
        <p class="contact">Contact details</p>
        <ul>
            <li>hatters@wearegoingup.com</li>
            <li>Kenilworth Stadium</li>
            <li>1 Maple Road</li>
            <li>Luton</li>
            <li>Bedfordshire</li>
            <li>LU4 8AW</li>
        </ul>
    </div>
{% endblock %}