{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <h1>{{ product.title }}</h1>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='uploads/' + product.image) }}" alt="{{ product.title }}" width="100%">
        </div>
        <div class="col-md-8">
            <p>{{ product.content }}</p>
            <p>Price: £{{ product.price }}</p>
            <p>Ecological footprint: {{ product.ecological_footprint }}</p>
            <form method="POST" action="{{ url_for('add_to_cart') }}">
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="hidden" name="product_title" value="{{ product.title }}">
                <input type="hidden" name="product_price" value="{{ product.price }}">
                <input type="hidden" name="product_content" value="{{ product.content }}">
                <input type="hidden" name="product_ecological_footprint" value="{{ product.ecological_footprint }}">
                <button type="submit" class="btn btn-primary btn-sm center-btn">Add to Cart</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}